.container {
  text-align: center;
  width: 100%;
  height: auto;
  padding-top: 100px;
  margin: 0 auto;
}

input {
  width: 500px;
  height: 300px;
  /*margin-bottom: 15px;*/
  font-size: 15pt;
}

output {
  font-size: 20pt;
  font-family: arial;
}

textarea {
  width: 500px;
  height: 100px;
  /*margin-bottom: 15px;*/
  font-size: 15pt;
  border: none;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

a {
  text-decoration: none;
}

p {
  font-family: arial;
  font-size: 13pt;
}

.logo {
  width: 500px;
  margin-bottom: 30px;
}

.buttons {
  margin-bottom: 60px;
  position: static;
}

button {
  background-color: #f2f2f2;
  border: none;
  padding: 10px;
  margin: 10px;
  color: #757575;
  font-weight: bold;
  border-radius: 2px;
  font-family: Arial;
  font-size: small;
  position: static;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  color: black;
  border: 1px solid #D9D9D9;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
  display: block;
}
